 	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 	<meta charset="utf-8">

		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<!--[if lt IE 9]>
			<script src="/bower/html5shiv/dist/html5shiv.min.js"></script>
			<script src="/bower/respond/dest/respond.min.js"></script>
		<![endif]-->

 	<title><%= title %></title>
 	<meta name="description" content="<%= desc %>">
 	<meta name="keywords" content="<%= keywords %>">
 	<meta name="author" content="Sasa M.">
 	<meta name="robots" content="index,follow">
 	<meta name="googlebot" content="index,follow">
 	<link rel="icon" href="favicon.ico">

	<meta name="viewport" content="width=device-width, maximum-scale=1.0">

	<!-- css -->
	<% static_files.head.css.forEach(function (elem) { %>
	<link rel="stylesheet" type="text/css" href="<%= elem %>"><% }); %>

	<!-- js (jquery must be loaded before bootstrap.min.js) -->
	<% static_files.head.js.forEach(function (elem) { %>
	<script src="<%= elem %>"></script><% }); %>
