<!doctype html> 
<html lang="en">

<head>
    <%- include('../../_partials/01head'); -%>
</head>

<body>
    <%- include('../../_partials/05header'); -%>

    <ol class="col-sm-7 breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/examples">SS Examples</a></li>
        <li><a href="/examples/auth/passport">PassportJS</a></li>
    </ol>



    <main class="col-sm-12 container" style="min-height:350px">
    
        <h1>PassportJS Login</h1>
    
       <div class="col-sm-4 well text-center">
            <%- include('_topmenu'); -%>

            <br>
            <br>
            <br>

            <h1>Page 1</h1>
            <small>Login was successful !</small>
            <p>This is page #1</p>

            <%- include('_logout_btn'); -%>
       </div>


    </main>


    <%- include('../../_partials/20footer'); -%>
</body>
</html>